<%= render 'shared/errors', obj: @article %>

<div class="row">
    <div class="col-12">
        <%= form_for(@article, :html => {class: "form-horizontal offset-sm-3 ", role: "form"}) do |f|%>
            <div class="form-group">
                <div class="col-form-label col-sm-2">
                    <%= f.label :title, class: 'text-muted' %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :title, class: 'form-control', placeholder: "Title of article", autofocus:  true %>
                </div>
            </div>
            <div class="form-group">
                <div class="col-form-label col-sm-2">
                    <%= f.label :description %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: "Body of article" %>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name  do |cb| %>
                            <%= cb.label(class: "form-check-label mr-3") {cb.check_box(class: "form-check-input ") + cb.text} %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <%= f.submit "Save", class: 'btn btn-primary btn-lg'%>
                </div>
            </div>
        <% end %>
        <div class="col-4 offset-5">
           [ <%= link_to "Cancel request and return to articles listing",  articles_path %> ]
        </div>
    </div>
</div>
