<h2 align="center">Title: <%= @article.title %></h2>
<div class="card col-8 offset-2">
    <h4 class="text-center mt-2"><strong>Description:</strong></h4>
    <hr>
    <%= simple_format(@article.description) %>
    <div class="card-body border-top">
        <%= link_to "Edit this article", edit_article_path(@article), class: "btn  btn-primary" %>
        <%= link_to "Delete this article", article_path(@article), method: :delete, 
                                            data:  { confirm: "Are you sure want to delete the article?"}, 
                                            class: "btn btn-danger"%>
        <%= link_to "View all articles", articles_path, class: "btn  btn-success" %>
    </div>
</div>

