<h2 class="text-center">Title: <%= @article.title %></h2>
<div class="card col-8 offset-2">
<% if @article.user %>
    <div class="text-center pb-3">
        <div class="col-md-4 offset-4">
            <div class="">
                <p>Created by:</p>
                <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
                <p class="">
                    <%= link_to @article.user.username, user_path(@article.user) %>
                </p>
                <p><small>
                    <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
                </small></p>
            </div>
        </div>
    </div>
<%  end %>
    <h4 class="text-center mt-2"><strong>Description:</strong></h4>
    <hr>
    <%= simple_format(@article.description) %>
    <div class="card-body border-top">
        <% if logged_in? && (current_user==@article.user || current_user.admin?) %>
            <%= link_to "Edit this article", edit_article_path(@article), class: "btn  btn-primary" %>
            <%= link_to "Delete this article", article_path(@article), method: :delete, 
                                                data:  { confirm: "Are you sure want to delete the article?"}, 
                                                class: "btn btn-danger"%>
        <% end %>
        <%= link_to "View all articles", articles_path, class: "btn  btn-success" %>
    </div>
</div>

