<h1 class="text-center">Welcome to <%= @user.username %>'s page</h1>
<div class="row">
    <div class="col-md-4 offset-md-4 text-center">
        <%= gravatar_for @user, size: 150 %>
    </div>
</div>
<h4 class="text-center">
    <%= @user.username %>'s articles
</h4>
<div class="text-center">
    <%= will_paginate @user_articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div class="text-center">
    <%= will_paginate @user_articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
</div>